<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:pp="http://typo3.org/ns/Kitodo/PresentationPackage/ViewHelpers">

    <f:layout name="Default" />

    <f:section name="Configuration">
        <flux:form id="digitalisateCollection" label="Digitalisate Kollektionen">
            <!-- Insert fields, sheets, grid, form section objects etc. here, in this flux:form tag -->
        </flux:form>

        <flux:grid>
            <!-- Edit this grid to change the "backend layout" structure -->
            <flux:grid.row>
                <flux:grid.column colPos="0" colspan="2" label="Suche" />
            </flux:grid.row>
            <flux:grid.row>
                <flux:grid.column colPos="2" colspan="2" label="Description" />
            </flux:grid.row>
            <flux:grid.row>
                <flux:grid.column colPos="1" colspan="2" label="Main" />
            </flux:grid.row>
            <flux:grid.row>
                <flux:grid.column colPos="3" colspan="2" label="Teaser Elemente" />
            </flux:grid.row>
            <flux:grid.row>
                <flux:grid.column colPos="4" colspan="2" label="Zusatzinfo" />
            </flux:grid.row>
        </flux:grid>
    </f:section>

    <f:section name="Main">
        <pp:menuHeaderSync />
        <f:render partial="DigitalisateHeader" arguments="{_all}"/>

        <header>
            <section class="portal-meta">
                <article class="breadcrumb">
                    <a href="">Digitalisierte Bestände</a> / {v:page.info(field:'title')}
                </article>
            </section>

            <section class="tx-dlf-search clear">
                <v:content.render column="0" />
            </section>

            <section class="collection-intro">
                <article>
                    <v:content.render column="2" />
                </article>
            </section>
        </header>

        <main>
            <div class="tx-dlf-collection">
                <v:content.render column="1" />
            </div>
            <f:render partial="DigitalisateTeaserSlot"/>
        </main>

        <f:render partial="DigitalisateFooter"/>
    </f:section>

</div>
