<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:pp="http://typo3.org/ns/Kitodo/PresentationPackage/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <f:section name="Configuration">
        <flux:form id="digitalisateDetailNew" label="Digitalisate Detail Neu">
            <!-- Insert fields, sheets, grid, form section objects etc. here, in this flux:form tag -->
        </flux:form>

        <flux:grid>
            <!-- Edit this grid to change the "backend layout" structure -->
            <flux:grid.row>
                <flux:grid.column colPos="0" name="Titel" label="Titel" />
                <flux:grid.column colPos="8" name="Navigation" label="Pageview Navigation" />
                <flux:grid.column colPos="15" name="Basket" label="Basket" />
            </flux:grid.row>
            <flux:grid.row>
                <flux:grid.column colPos="3" name="Docnavigation" label="Navigations left" />
                <flux:grid.column colPos="15" name="Docnavigation" label="Navigation right" />
                <flux:grid.column colPos="4" name="TOC" label="TOC" />
                <flux:grid.column colPos="5" name="Metadaten" label="Metadaten" />
                <flux:grid.column colPos="6" name="Preview" label="Pageview Preview" />
                <flux:grid.column colPos="7" name="Toolbox" label="Toolbox" />
                <flux:grid.column colPos="9" name="DocumentSearch" label="Dokument Suche" />
            </flux:grid.row>
            <flux:grid.row>
                <flux:grid.column colPos="1" colspan="5" name="Main" label="Main" />
            </flux:grid.row>
        </flux:grid>
    </f:section>

    <f:section name="Main">

        <f:render partial="DigitalisateHeaderNew" arguments="{_all}" />

        <div>
            <article class="breadcrumb">
                <a href="https://digitalisate.sub.uni-hamburg.de/">Digitalisierte Bestände</a> / <a id="backtolistview" href="">Trefferliste</a> / Detailansicht
            </article>
        </div>

        <main class="clear" id="detail-view">
            <section id="main-content">
                <div class="detail-view-main">
                    <v:content.render column="1" />
                </div>
            </section>
        </main>

        <div id="myNav" class="overlay" style="width: 0%;">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="overlay-content">
                <v:content.render column="9" />
                <div class="toctoc">
                    <h1>Inhaltsverzeichnis</h1>
                    <v:content.render column="4" />
                </div>
            </div>
        </div>

        <div id="toc-overlay-btn" onclick="openNav()" style="width: 40px; color: rgb(255, 255, 255); left: 0;">
            <p style="padding: 5px">Inhaltsverzeichnis &amp; Suche</p>
        </div>

        <div id="myNav2" class="overlay2" style="width: 0%;">
            <a href="javascript:void(0)" class="closebtn2" onclick="closeNav2()">&times;</a>
            <div class="overlay2-content">

                <h2>Downloadangebote</h2>
                <ul class="tx-dlf-toolbox">
                    <li>
                        <a href="#" id="citationLink" class="reachable" title="Zitierlink für dieses Dokument">
                            <img src="/typo3conf/ext/presentation_package/Resources/Public/Images/quote.svg">
                        </a>
                    </li>
                    <li>
                        <a href="#" id="pageCitationLink" class="reachable" title="Zitierlink für diese Seite">
                            <img src="/typo3conf/ext/presentation_package/Resources/Public/Images/blockquote-left.svg">
                        </a>
                    </li>
                    <li>
							<span id="iiifDownload" class="unreachable" title="Keine Metadaten als IIIF-Manifest vorhanden">
								<img src="/typo3conf/ext/presentation_package/Resources/Public/Images/braces.svg">
                            </span>
                    </li>
                    <li>
                        <a href="#" id="metsDownload" class="reachable" title="Metadaten als METS/MODS downloaden" download="">
                            <img src="/typo3conf/ext/presentation_package/Resources/Public/Images/code-slash.svg">
                        </a>
                    </li>
                    <!--li>
<a id="fullPdfDownload" href="#" title="Gesamtes Dokument als PDF downloaden"><img src="/typo3conf/ext/presentation_package/Resources/Public/Images/download.svg" alt="Gesamtes Dokument als PDF downloaden"></a>
</li-->
                    <li>
                        <a href="#" id="fullPdfDownload" class="reachable" title="Gesamtes Dokument als PDF downloaden">
                            <img src="/typo3conf/ext/presentation_package/Resources/Public/Images/download.svg" alt="Gesamtes Dokument als PDF downloaden">
                        </a>
                    </li>
                    <li>
                        <a href="#" id="singlePdfDownload" class="reachable" title="Diese Seite als PDF downloaden" download="">
                            <img src="/typo3conf/ext/presentation_package/Resources/Public/Images/filetype-pdf.svg">
                        </a>
                    </li>
                    <li>
                        <a href="#" id="singleJpegDownload" class="reachable" title="Diese Seite als JPEG downloaden" download="">
                            <img src="/typo3conf/ext/presentation_package/Resources/Public/Images/filetype-jpg.svg">
                        </a>
                    </li>
                    <li>
                        <a href="#" id="singleAltoDownload" class="reachable" title="Volltext dieser Seite als ALTO-XML downloaden" download="">
                            <img src="/typo3conf/ext/presentation_package/Resources/Public/Images/filetype-xml.svg">
                        </a>
                    </li>
                    <li>
                        <a href="#" id="singleTxtDownload" class="reachable" title="Volltext dieser Seite als TXT downloaden" download="">
                            <img src="/typo3conf/ext/presentation_package/Resources/Public/Images/filetype-txt.svg">
                        </a>
                    </li>
                </ul>
                <h2>Metadaten</h2>
                <v:content.render column="5" />
            </div>
        </div>

        <div id="meta-overlay-btn" onclick="openNav2()"><p style="padding: 5px">Metadaten &amp; Download</p></div>

        <div id="myNav3" class="overlay3">
            <a href="javascript:void(0)" class="closebtn3" onclick="closeNav3()">&times;</a>

            <div class="overlay3-content">
                <div id="tx-dlf-fulltextselection"></div>
            </div>
        </div>

        <div id="myNav4" class="overlay4">
            <a href="javascript:void(0)" class="closebtn4" onclick="closeNav4()">&times;</a>

            <div class="overlay4-content">
                <div class="fulltext-visible">
                    <ul>
                        <li>---------- ROT ---------</li>
                        <li>---------- GRÜN ---------</li>
                        <li>---------- BLAU ---------</li>
                        <li>---------- HELLIGKEIT ---------</li>
                        <li>---------- KONTRAST ---------</li>
                    </ul>
                </div>
            </div>
        </div>

        <span id="dfgviewer_by">
	        <p>
		        <a href="https://dfg-viewer.de/show/?tx_dlf[id]=https://mets.sub.uni-hamburg.de/kitodo/PPN1678760722" id="dfgviewerLink" class="reachable" title="Dokument im DFG-Viewer betrachten">
			<!--img src="icons-bootstrap/display.svg"-->DFG-Viewer</a>
		    </p>
        </span>

        <div id="fullsize-pagegrid" style="display: none;">
            <v:content.render column="6" />
        </div>

        <div class="detail-view-pageview-nav tx-dlf-navigation" id="bottom-toolbar">

            <div class="navigation-left">
                <v:content.render column="3" />
            </div>
            <div class="navigation-right">
                <v:content.render column="15" />
            </div>
        </div>

        <span id="powered_by">
            <p>powered by Staats- und Universitätsbibliothek Hamburg (c)</p>
        </span>
    </f:section>

</div>