<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:pp="http://typo3.org/ns/Kitodo/PresentationPackage/ViewHelpers">

    <f:layout name="Default" />

    <f:section name="Configuration">
        <flux:form id="digitalisateCalendar" label="Digitalisate Kalender">
            <!-- Insert fields, sheets, grid, form section objects etc. here, in this flux:form tag -->
        </flux:form>

        <flux:grid>
            <!-- Edit this grid to change the "backend layout" structure -->
            <flux:grid.row>
                <flux:grid.column colPos="0" colspan="2" name="Search" label="Suche" />
            </flux:grid.row>
            <flux:grid.row>
                <flux:grid.column colPos="2" colspan="1" name="Description" label="Beschreibung" />
                <flux:grid.column colPos="3" colspan="1" name="Metadata" label="Metadaten" />
            </flux:grid.row>
            <flux:grid.row>
                <flux:grid.column colPos="1" colspan="2" name="Main" label="Main" />
            </flux:grid.row>
            <flux:grid.row>
                <flux:grid.column colPos="4" colspan="2" name="Teaser" label="Teaser Elemente" />
            </flux:grid.row>
            <flux:grid.row>
                <flux:grid.column colPos="5" colspan="2" name="Info" label="Zusatzinfo" />
            </flux:grid.row>
        </flux:grid>
    </f:section>

    <f:section name="Header">
    </f:section>

    <f:section name="Main">

        <f:render partial="DownloadIconAssets" />

        <pp:menuHeaderSync />
        <f:render partial="DigitalisateHeader" arguments="{_all}"/>

        <header>
            <section class="portal-meta">
                <article class="breadcrumb">
                    <v:page.breadCrumb linkCurrent="false"/>
                </article>
            </section>

            <section class="tx-dlf-search clear">
                <v:content.render column="0" />
            </section>

            <section class="collection-intro collection-intro-zeitungen">
                <article class="calendar-description">
                    <v:content.render column="2" />
                </article>
                <article class="calendar-metadata detail-view-itemoptions">
                    <h2>Downloadangebote</h2>
                    <ul class="tx-dlf-toolbox download-anchor">
                    </ul>
                    <div id="subhh-share-container" style="display:none">
                        <form>
                            <label for="subhh-share-anchor"></label><br>
                            <input type="text" id="subhh-share-anchor" readonly>
                            <f:comment><button id="subhh-share-copy-button">Link kopieren</button></f:comment>
                        </form>
                    </div>
                    <v:content.render column="3" />
                </article>
            </section>
        </header>

        <main>
            <v:content.render column="1" />
            <f:render partial="DigitalisateTeaserSlot"/>
        </main>

        <f:render partial="DigitalisateFooter" />
    </f:section>

</div>
