<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:pp="http://typo3.org/ns/Kitodo/PresentationPackage/ViewHelpers">

    <f:layout name="Default" />

    <f:section name="Configuration">
        <flux:form id="digitalisateDetail" label="Digitalisate Detail">
            <!-- Insert fields, sheets, grid, form section objects etc. here, in this flux:form tag -->
        </flux:form>

        <flux:grid>
            <!-- Edit this grid to change the "backend layout" structure -->
            <flux:grid.row>
                <flux:grid.column colPos="0" name="Titel" label="Titel" />
                <flux:grid.column colPos="8" name="Navigation" label="Pageview Navigation" />
                <flux:grid.column colPos="15" name="Basket" label="Basket" />
            </flux:grid.row>
            <flux:grid.row>
                <flux:grid.column colPos="3" name="Docnavigation" label="Dokument Navigation" />
                <flux:grid.column colPos="4" name="TOC" label="TOC" />
                <flux:grid.column colPos="5" name="Metadaten" label="Metadaten" />
                <flux:grid.column colPos="6" name="Preview" label="Pageview Preview" />
                <flux:grid.column colPos="7" name="Toolbox" label="Toolbox" />
            </flux:grid.row>
            <flux:grid.row>
                <flux:grid.column colPos="1" colspan="5" name="Main" label="Main" />
            </flux:grid.row>
        </flux:grid>
    </f:section>

    <f:section name="Main">
        <header>
            <section class="portal-header">
                <div class="header-wrapper">
                    <article id="portal-logo">
                        <a href="https://www.schleswig-holstein.de/DE/landesregierung/ministerien-behoerden/LBSH/lbsh_node.html" id="kitodo-logo">
                            <img src="../../typo3conf/ext/presentation_package/Resources/Public/Images/logo-shlb.png" alt="">
                        </a>
                    </article>
                </div>

                <article class="meta-navigation">

                    <v:content.render column="15" />

                    <!--<a href="" title="favorites">-->
                    <!--<img src="../../typo3conf/ext/presentation_package/Resources/Public/Images//icon-star.svg" alt="favorites">-->
                    <!--<span class="meta-batchcount">44</span>-->
                    <!--</a>-->
                </article>

            </section>

            <section class="portal-main-search">
                <div class="header-wrapper">

                    <v:content.render column="0" />

                </div>
                <article class="breadcrumb">
                    <span>
                        <a href="/">Startseite</a>
                    </span>
                    <span id="backtolist">
                        <a href="/">Trefferliste</a>
                    </span>
                    <span>
                        Detail
                    </span>
                </article>
            </section>

        </header>

        <header>
            <section class="portal-meta">
                <article class="breadcrumb">
                    <f:comment>
                        <v:page.breadCrumb class="breadcrumb" tagName="article" tagNameChildren="span"/>
                    </f:comment>
                </article>
            </section>
        </header>

        <main class="clear" id="detail-view">
            <aside>
                <section>
                    <div class="detail-aside-nav">
                        <v:content.render column="3" />
                        <v:content.render column="7" />
                    </div>
                </section>
                <div id="c19">
                    <v:content.render column="6" />
                </div>
                <article class="detail-view-itemoptions">
                    <!-- Metadaten -->
                    <v:content.render column="5" />
                    <!-- Inhaltsverzeichnis -->
                    <v:content.render column="4" />
                </article>
            </aside>

            <section id="main-content">
                <div class="detail-view-main">
                    <article class="detail-view-header">
                        <div id="c9" class="detail-view-title">
                            <div class="tx-dlf-metadata">
                                <dl>
                                    <dt class="tx-dlf-metadata-title">Title</dt>
                                    <dd class="tx-dlf-metadata-title detail-view-title-main"></dd>
                                </dl>
                            </div>
                        </div>

                        <div class="detail-view-nav">
                            <v:content.render column="8" />
                        </div>
                    </article>
                    <v:content.render column="1" />
                </div>
            </section>
        </main>

        <f:comment>
            <f:render partial="Footer"/>
        </f:comment>
    </f:section>

</div>
