<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:pp="http://typo3.org/ns/Kitodo/PresentationPackage/ViewHelpers">

    <f:layout name="Default" />

    <f:section name="Configuration">
        <flux:form id="Startpage" label="Startpage">
            <!-- Insert fields, sheets, grid, form section objects etc. here, in this flux:form tag -->
        </flux:form>

        <flux:grid>
            <!-- Edit this grid to change the "backend layout" structure -->
            <flux:grid.row>
                <flux:grid.column colPos="0" colspan="1" name="Header" label="Header" />
                <flux:grid.column colPos="15" colspan="1" name="Basket" label="Warenkorb" />
            </flux:grid.row>
            <flux:grid.row>
                <flux:grid.column colPos="3" colspan="2" name="Main" label="Prestige" />
            </flux:grid.row>
            <flux:grid.row>
                <flux:grid.column colPos="1" colspan="2" name="Main" label="Hauptbereich" />
            </flux:grid.row>
        </flux:grid>
    </f:section>

    <f:section name="Main">
        <f:render partial="Header" arguments="{_all}"/>

        <div class="home-prestige">
            <div class="home-prestige-content">
                <div class="home-intro">
                    <h1>Digitale Sammlungen Darmstadt</h1>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
                </div>

                <v:content.render column="3" />
            </div>
        </div>

        <main class="one_column">
            <section>
                <div class="tx-dlf-collection">
                    <v:page.menu pageUid="{settings.categoryStartUid}" expandAll="0" levels="0" showHiddenInMenu="1">
                        <ul class="tx-dlf-collection-list">
                            <f:for each="{menu}" as="item">
                                <li class="tx-dlf-collection-item">
                                    <v:page.link
                                            pageUid="{item.uid}"
                                            title="{item.linktext}"
                                            class="{itemClass}"
                                            target="{itemTarget}">
                                        <v:page.resources.fal table="pages" field="media" uid="{item.uid}" as="images" slide="-1" >
                                            <span class="tx-dlf-collection-thumbnail">
                                                <f:for each="{images}" as="image">
                                                    <f:image src="{image.url}" alt="{item.linktext}" title="{image.title}" />
                                                </f:for>
                                            </span>
                                        </v:page.resources.fal>

                                        <span class="collection-headline">
                                            {item.linktext}
                                        </span>
                                    </v:page.link>
                                </li>
                            </f:for>
                        </ul>
                    </v:page.menu>
                </div>

                <v:content.render column="1" />
            </section>
        </main>

        <f:render partial="Footer"/>
    </f:section>

</div>