<section class="teaser-slot">

    <article>
        <div class="tx-dlf-collection-thumbnail">
            <a href="https://zeitungen.sub.uni-hamburg.de/">
                <img src="{f:uri.resource(path: 'Images/teaser-hamburger-zeitungen-digital-800x420px-ph-background-zeitungen.jpg')}" alt="Hamburger Zeitungen Digital" />
            </a>
        </div>
        <h2><a href="https://zeitungen.sub.uni-hamburg.de/">Hamburger Zeitungen Digital</a></h2>
        <p></p>
    </article>

    <article>
        <div class="tx-dlf-collection-thumbnail">
            <a href="https://agora.sub.uni-hamburg.de/subhh-adress/digbib/start">
                <img src="{f:uri.resource(path: 'Images/teaser-hamburger-adressbuch-800x420px-FX228_1910_B017_HH_0001.jpg')}" alt="Hamburger Adressbücher" />
            </a>
        </div>
        <h2><a href="https://agora.sub.uni-hamburg.de/subhh-adress/digbib/start">Hamburger Adressbücher</a></h2>
        <p></p>
    </article>

    <article>
        <div class="tx-dlf-collection-thumbnail">
            <a href="https://jungius.sub.uni-hamburg.de/">
                <img src="{f:uri.resource(path: 'Images/teaser-nachlass-joachim-jungius-800x420px-PPN663956412-00000001.jpg')}" alt="Aus Nachlass Joachim Jungius" />
            </a>
        </div>
        <h2><a href="https://jungius.sub.uni-hamburg.de/">Aus Nachlass Joachim Jungius</a></h2>
        <p></p>
    </article>

    <article>
        <div class="tx-dlf-collection-thumbnail">
            <a href="https://digitalisate.sub.uni-hamburg.de/vhg">
                <img src="{f:uri.resource(path: 'Images/teaser-zeitschrift-des-vereins-fuer-hamburgische-geschichte-800x420px-PPN669641707-00000001.jpg')}" alt="Veröffentlichungen des Vereins für Hamburgische Geschichte" />
            </a>
        </div>
        <h2><a href="https://digitalisate.sub.uni-hamburg.de/vhg">Veröffentlichungen des Vereins für Hamburgische Geschichte</a></h2>
        <p></p>
    </article>
</section>