<footer>
	<div id="footer-content">

		<ul id="footer-meta-menu">
			<li>
				<a href="https://www.martin-opitz-bibliothek.de" target="_blank" class="" type="button">Martin-Opitz-Bibliothek</a>
			</li>
			<li>
				<a href="/index.php?id=7" class="" type="button">Datenschutz</a>
			</li>
			<li>
				<a href="/index.php?id=8" class="" type="button">Impressum</a>
			</li>
		</ul>
		<div class="footer-copy">© Martin-Opitz-Bibliothek 2020</div>
	</div>

	<div class="footer-sponsor">
		<a href="https://www.martin-opitz-bibliothek.de" target="_blank">
			<img src="{f:uri.resource(path: 'Images/mob-logo.png', extensionName: 'presentation_package')}" alt="Martin-Opitz-Bibliothek">
		</a>
		<a href="https://www.bundesregierung.de/breg-de/bundesregierung/staatsministerin-fuer-kultur-und-medien" target="_blank">
			<img src="{f:uri.resource(path: 'Images/logo-bkm.svg', extensionName: 'presentation_package')}" alt="Ministerium Kultur und Medien" />
		</a>
	</div>
</footer>