<footer>
	<div id="footer-content">

		<ul id="footer-meta-menu">
			<li>
				<a href="https://www.martin-opitz-bibliothek.de" target="_blank" class="" type="button">Martin-Opitz-Bibliothek</a>
			</li>
			<li>
				<a href="/index.php?id=7" class="" type="button">Datenschutz</a>
			</li>
			<li>
				<a href="/index.php?id=8" class="" type="button">Impressum</a>
			</li>
			<li>
				<a href="/login" class="" type="button">Login</a>
			</li>
			<li>
				<a href="/feeds" class="" type="button">RSS-Feed</a>
			</li>
		</ul>
		<div class="footer-copy">© Martin-Opitz-Bibliothek <f:format.date format="Y">now</f:format.date></div>
	</div>

	<div class="footer-sponsor">
		<p>Die Martin-Opitz-Bibliothek wird gefördert vom Bundesministerium des Inneren, von der Stadt Herne und vom Land Nordrhein-Westfalen; der Landschaftsverband Westfalen-Lippe (LWL) unterstützt die MOB mit einem jährlichen Zuschuss.</p>

		<div class="sponsor-logo-grid">
			<a href="https://www.martin-opitz-bibliothek.de" target="_blank">
				<img src="{f:uri.resource(path: 'Images/logo-mob.jpg', extensionName: 'presentation_package')}" alt="Martin-Opitz-Bibliothek">
			</a>
			<a href="https://www.bmi.bund.de" target="_blank">
				<img src="{f:uri.resource(path: 'Images/logo-bmi.jpg', extensionName: 'presentation_package')}" alt="Bundesministerium des Inneren">
			</a>
			<a href="https://www.herne.de" target="_blank">
				<img src="{f:uri.resource(path: 'Images/logo-herne.jpg', extensionName: 'presentation_package')}" alt="Stadt Herne">
			</a>
			<a href="https://www.mkw.nrw" target="_blank">
				<img src="{f:uri.resource(path: 'Images/logo-nrw.png', extensionName: 'presentation_package')}" alt="Ministerin für Kultur und Wissenschaft des Landes Nordrhein-Westfalen">
			</a>
			<a href="https://www.lwl.org" target="_blank">
				<img src="{f:uri.resource(path: 'Images/logo-lwl.jpg', extensionName: 'presentation_package')}" alt="Landschaftsverband Westfalen-Lippe (LWL)">
			</a>
			<a href="https://www.deutsche-digitale-bibliothek.de" target="_blank">
				<img src="{f:uri.resource(path: 'Images/logo-ddb.jpg', extensionName: 'presentation_package')}" alt="Deutsche Digitale Bibliothek">
			</a>
		</div>
	</div>
</footer>
