<footer>
	<div id="footer-content">

		<ul id="footer-meta-menu">
			<li>
				<a href="https://www.martin-opitz-bibliothek.de" target="_blank" class="" type="button">Martin-Opitz-Bibliothek</a>
			</li>
			<li>
				<a href="/index.php?id=6" class="" type="button">Datenschutz</a>
			</li>
			<li>
				<a href="/index.php?id=5" class="" type="button">Impressum</a>
			</li>
		</ul>
		<div class="footer-copy">© Martin-Opitz-Bibliothek 2020</div>
	</div>

	<div class="footer-sponsor">
		<a href="https://www.martin-opitz-bibliothek.de" target="_blank">
			<img src="../../typo3conf/ext/presentation_package/Resources/Public/Images/mob-logo.png" alt="Martin-Opitz-Bibliothek">
		</a>
		<a href="https://www.bundesregierung.de/breg-de/bundesregierung/staatsministerin-fuer-kultur-und-medien" target="_blank">
			<img src="../../typo3conf/ext/presentation_package/Resources/Public/Images/logo-bkm.svg" alt="Ministerium Kultur und Medien" />
		</a>
	</div>
</footer>