<header>
	<section class="portal-header">

		<article id="portal-logo">
			<a href="" id="kitodo-logo">
				<img src="../../typo3conf/ext/presentation_package/Resources/Public/Images/logo-shlb.png" alt="">
			</a>
		</article>

		<article class="meta-navigation">

			<v:content.render column="15" />

			<!--<a href="" title="favorites">-->
				<!--<img src="../../typo3conf/ext/presentation_package/Resources/Public/Images//icon-star.svg" alt="favorites">-->
				<!--<span class="meta-batchcount">44</span>-->
			<!--</a>-->
		</article>

	</section>

	<section class="portal-main-search">
		<div class="header-wrapper">

			<div class="portal-welcome-headline">
				<h1>Lorem ipsum Schleswig-Holsteinische Landesbibliothek dolor sit amet</h1>
				<h2>Wonach suchen Sie?</h2>
			</div>

			<v:content.render column="0" />

			<div class="portal-welcome-intro">
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
			</div>

		</div>
	</section>

</header>