<header>
	<section class="portal-meta">

		<article class="portal-logo">
		   <a href="https://www.martin-opitz-bibliothek.de/">
                      <img src="{f:uri.resource(path: 'Images/mob-logo.png', extensionName: 'presentation_package')}" alt="Martin-Opitz-Bibliothek">
                   </a>                          
		</article>

		<f:render partial="Breadcrumb" arguments="{_all}"/>

		<article class="meta-navigation">
			<f:format.raw>{contentBasket}</f:format.raw>
		</article>

	</section>

	<f:format.raw>{contentHeader}</f:format.raw>

	<!-- CONTENT ELEMENT DO NOT SHOW THIS ON EVERY PAGE -->
	<!--
	<section class="collection-intro">

		<article>
			<h2>Kollektion-Überschrift</h2>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
		</article>

	</section>
	-->
</header>
