<section class="teaser-slot">

    <article>
        <div class="tx-dlf-collection-thumbnail">
            <a href="https://digitalisate.sub.uni-hamburg.de/">
                <img src="{f:uri.resource(path: 'Images/teaser-hamburger-kulturgut-digital-800x420px-PPN783642598-00000001.jpg')}" alt="Hamburger Kulturgut Digital" />
            </a>
        </div>
        <h2><a href="https://digitalisate.sub.uni-hamburg.de/">Hamburger Kulturgut Digital</a></h2>
        <p></p>
    </article>

    <article>
        <div class="tx-dlf-collection-thumbnail">
            <a href="https://adressbuecher.sub.uni-hamburg.de/">
                <img src="{f:uri.resource(path: 'Images/teaser-hamburger-adressbuch-800x420px-FX228_1910_B017_HH_0001.jpg')}" alt="Hamburger Adressbücher Digital" />
            </a>
        </div>
        <h2><a href="https://adressbuecher.sub.uni-hamburg.de/">Hamburger Adressbücher Digital</a></h2>
        <p></p>
    </article>

    <article>
        <div class="tx-dlf-collection-thumbnail">
            <a href="https://digitalisate.sub.uni-hamburg.de/hamburgensien">
                <img src="{f:uri.resource(path: 'Images/teaser-hamburgensien-800x420px-PPN670034223-00000001.jpg')}" alt="Hamburgensien" />
            </a>
        </div>
        <h2><a href="https://digitalisate.sub.uni-hamburg.de/hamburgensien">Hamburgensien</a></h2>
        <p></p>
    </article>

    <article>
        <div class="tx-dlf-collection-thumbnail">
            <a href="https://digitalisate.sub.uni-hamburg.de/digitalisate-aus-anderen-hamburger-sammlungen">
                <img src="{f:uri.resource(path: 'Images/teaser-aus-anderen-hamburger-einrichtungen-800x420px-PPN783732384-00000001.jpg')}" alt="Digitalisate aus anderen Hamburger Sammlungen" />
            </a>
        </div>
        <h2><a href="https://digitalisate.sub.uni-hamburg.de/digitalisate-aus-anderen-hamburger-sammlungen">Digitalisate aus anderen Hamburger Sammlungen</a></h2>
        <p></p>
    </article>

</section>