<section class="teaser-slot">

    <article>
        <div class="tx-dlf-collection-thumbnail"><a href="https://digitalisate.sub.uni-hamburg.de/"><img src="{f:uri.resource(path: 'Images/logo-hamburger-kulturgut.jpg')}" alt="" /></a></div>
        <h2><a href="https://digitalisate.sub.uni-hamburg.de/">Hamburger Kulturgut Digital</a></h2>
        <p></p>
    </article>

    <article>
        <div class="tx-dlf-collection-thumbnail"><a href="https://digitalisate.sub.uni-hamburg.de/digitalisate-aus-anderen-hamburger-sammlungen.html"><img src="{f:uri.resource(path: 'Images/logo-andere hamburger sammlungen-musterAB.jpg')}" alt="" /></a></div>
        <h2><a href="https://digitalisate.sub.uni-hamburg.de/digitalisate-aus-anderen-hamburger-sammlungen.html">aus anderen Hamburger Sammlungen</a></h2>
        <p></p>
    </article>

    <article>
        <div class="tx-dlf-collection-thumbnail"><a href="https://agora.sub.uni-hamburg.de/subhh-adress"><img src="{f:uri.resource(path: 'Images/logo-adressbuch-musterAB.jpg')}" alt="" /></a></div>
        <h2><a href="https://agora.sub.uni-hamburg.de/subhh-adress">Adressbücher</a></h2>
        <p></p>
    </article>

    <article>
        <div class="tx-dlf-collection-thumbnail"><a href="http://jungius.sub.uni-hamburg.de/"><img src="{f:uri.resource(path: 'Images/logo-jungius-musterAB.jpg')}" alt="" /></a></div>
        <h2><a href="http://jungius.sub.uni-hamburg.de/">Joachim Jungius</a></h2>
        <p></p>
    </article>

</section>