/*----------------------------------------------------------------------
build in:  08 2019
copyright: KMD Medien GmbH – www.kmd.de
----------------------------------------------------------------------*/


/*----------------------------------------------------------------------
global structure & normalize
----------------------------------------------------------------------*/

body {
    margin: 0;
    border: 0 none;
    padding: 0;
    color: #242424;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background: #fff;
}

p, form, img, legend, ul, ol, li, h1, h2, h3, h4, h5, h6, dl, dt, dd, figure, blockquote {
    margin: 0;
    border: 0 none;
    padding: 0;
}

input, textarea, button, select {
    margin: 0;
    font: inherit;
    text-transform: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

textarea {
    overflow: auto;
}

a {
    color: #242424;
    text-decoration: underline;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

a:hover, a:active {
    color: #8D0D1C;
    text-decoration: underline;
    outline-width: 0;
}

.tx-dlf-listview-list li .show-volumes a.show-volumes-expand:focus {
    background: url(../Images/icon-arrow-up.svg) no-repeat 10px center #EDD3B4 !important;
    background-size: 24px 24px !important;;
}

.tx-dlf-listview-list li .show-volumes a.show-volumes-minimize:focus {
    background: url(../Images/icon-arrow-down.svg) no-repeat 10px center #EDD3B4 !important;;
    background-size: 24px 24px !important;;
}

a:focus,
input[type=submit]:focus,
.button-red:focus {
    background-color: #EDD3B4 !important;
    background-image: none !important;
    color: #000 !important;
    border-radius: 3px;
}

strong {
    font-weight: 700;
}

mark {
    background-color: #005182;
    color: #fff;
    padding: 1px 2px;
    border-radius: 3px;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

.clear:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
}


/*----------------------------------------------------------------------
fonts
----------------------------------------------------------------------*/

/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v16-latin/lato-v16-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Lato Regular'), local('Lato-Regular'),
    url('../fonts/lato-v16-latin/lato-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/lato-v16-latin/lato-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/lato-v16-latin/lato-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/lato-v16-latin/lato-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/lato-v16-latin/lato-v16-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-700 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v16-latin/lato-v16-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Lato Bold'), local('Lato-Bold'),
    url('../fonts/lato-v16-latin/lato-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/lato-v16-latin/lato-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/lato-v16-latin/lato-v16-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/lato-v16-latin/lato-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/lato-v16-latin/lato-v16-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}


/*----------------------------------------------------------------------
forms
----------------------------------------------------------------------*/

input[type=text] {
    border-radius: 3px;
    line-height: 0;
    font-size: 16px;
    color: #242424;
    padding: 10px 15px;
    box-shadow: 0px 3px 0px 0px rgb(120, 120, 120);
    border: 1px solid #959595;
    display: inline-block;
    vertical-align: middle;
}

input[type=text]:hover {
    border: 1px solid #242424;
    color: #000;
}

input[type=submit],
.button-red {
    background: #8E0E1D;
    box-shadow: 0px 3px 0px 0px rgb(86, 7, 16);
    background: linear-gradient(to bottom, rgb(210, 61, 78) 5%, rgb(141, 13, 28) 100%) repeat scroll 0% 0% rgb(210, 61, 78);
    background: -webkit-linear-gradient(to bottom, rgb(210, 61, 78) 5%, rgb(141, 13, 28) 100%) repeat scroll 0% 0% rgb(210, 61, 78);
    background: -moz-linear-gradient(to bottom, rgb(210, 61, 78) 5%, rgb(141, 13, 28) 100%) repeat scroll 0% 0% rgb(210, 61, 78);
    background-image: linear-gradient(rgb(210, 61, 78) 5%, rgb(141, 13, 28) 100%);
    background-image: -webkit-gradient(linear, center bottom, center top, from(#8D0D1C), to(#D23D4E));
    border-radius: 3px;
    color: #fff !important;
    font-size: 16px;
    padding: 8px 10px;
    font-weight: 700;
    text-decoration: none !important;
    text-shadow: 0px 1px 0px rgb(86, 7, 16);
    border: 0;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

input[type=submit]:hover,
.button-red:hover {
    background: rgb(141, 13, 28) !important;
    transition: background 0.5s ease-in-out;
    -webkit-transition: background 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
}

select {
    border: 1px solid #959595;
    border-radius: 3px;
    padding: 8px 10px;
    line-height: 0;
    font-size: 16px;
    color: #242424;
    display: inline-block;
}


/*----------------------------------------------------------------------
header
----------------------------------------------------------------------*/

header {
    text-align: center;
    background: #242424;
    color: #fff;
}

header.header-portal-home {
    background: url(../Images/ph-background.jpg) no-repeat top center #242424;
    background-size: cover;
}

.portal-meta {
    padding: 15px 30px;
    display: table;
    width: calc(100% - 60px);
}

.portal-meta article {
    display: table-cell;
    vertical-align: middle;
}

.breadcrumb {
    text-align: left;
}

.breadcrumb a {
    color: #fff;
    padding: 5px;
    margin: -5px;
    border-radius: 3px;
}

.breadcrumb a:hover {
    color: #242424;
    background: #fff;
    text-decoration: none;
}

.meta-navigation {
    text-align: right;
    width: 30%;
}

.meta-navigation img {
    width: 24px;
    height: auto;
    vertical-align: middle;
}

.meta-navigation a {
    position: relative;
    vertical-align: middle;
    padding-left: 15px;
}

.meta-batchcount {
    position: absolute;
    top: -5px;
    right: -10px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;
    color: #fff;
}

.portal-logo {
    font-size: 48px;
    line-height: 48px;
    padding: 30px 0;
}

.portal-claim {
    font-size: 24px;
    line-height: 30px;
    padding: 0 0 60px 0;
}

.collection-intro {
    text-align: left;
    background: url(../Images/follow-background.jpg) no-repeat top center #242424;
    background-size: cover;
}

.collection-intro article {
    width: 50%;
    padding: 60px 30px;
    display: inline-block;
    vertical-align: top;
}

.collection-intro article h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 10px;
}

/*----------------------------------------------------------------------
main
----------------------------------------------------------------------*/

main {
    display: block;
    position: relative;
    z-index: 2;
}

main aside {
    float: right;
    width: 33%;
}

#main-content {
    float: left;
    width: 67%;
}


/*----------------------------------------------------------------------
collection-list + teaser
----------------------------------------------------------------------*/

.tx-dlf-collection {
    background: #242424;
    padding: 60px 0;
}

.tx-dlf-collection div.frame p {
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
}

.tx-dlf-collection-list  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    list-style-type: none;
    margin: 0 30px;
}

.tx-dlf-collection-list li {
    padding: 30px;
    text-align: center;
    background: rgba(78,42,45,1);
    background: -moz-linear-gradient(-45deg, rgba(78,42,45,1) 0%, rgba(36,36,36,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(78,42,45,1)), color-stop(100%, rgba(36,36,36,1)));
    background: -webkit-linear-gradient(-45deg, rgba(78,42,45,1) 0%, rgba(36,36,36,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(78,42,45,1) 0%, rgba(36,36,36,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(78,42,45,1) 0%, rgba(36,36,36,1) 100%);
    background: linear-gradient(135deg, rgba(78,42,45,1) 0%, rgba(36,36,36,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e2a2d', endColorstr='#242424', GradientType=1 );
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    color: #fff;
    position: relative;
}

main .tx-dlf-collection div.span_2_of_3 {
    margin-left: 5%;
}

.tx-dlf-rss-feed {
    position: absolute;
    top: 0px;
    right: 0px;
}

.tx-dlf-rss-feed img {
    width: 50px;
    height: auto;
}

.tx-dlf-rss-feed a:hover {
    background: transparent !important;
    border-radius: 0 !important;
}

.tx-dlf-collection-list li a,
.teaser-slot article a {
    color: #fff;
    padding: 5px;
    margin: -5px;
    text-decoration: none;
}

.tx-dlf-collection-list li a:hover,
.teaser-slot article a:hover {
    color: #242424;
    background: #fff;
    border-radius: 3px;
}

.tx-dlf-collection-list li .tx-dlf-collection-thumbnail a,
.teaser-slot article .tx-dlf-collection-thumbnail a {
    padding: 0;
    margin: 0;
}

.tx-dlf-collection-list h2,
.teaser-slot article h2,
.hero-teaser h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 10px;
}

.tx-dlf-collection-thumbnail {
    margin-bottom: 30px;
}

.tx-dlf-collection-thumbnail img {
    width: 100%;
    height: auto;
}

.teaser-slot {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    list-style-type: none;
    margin: 60px 30px;
}

.teaser-slot article {
    padding: 30px;
    margin-top: 30px;
    text-align: center;
    background: rgba(36,36,36,1);
    background: -moz-linear-gradient(-45deg, rgba(36,36,36,1) 0%, rgba(80,80,80,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(36,36,36,1)), color-stop(100%, rgba(80,80,80,1)));
    background: -webkit-linear-gradient(-45deg, rgba(36,36,36,1) 0%, rgba(80,80,80,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(36,36,36,1) 0%, rgba(80,80,80,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(36,36,36,1) 0%, rgba(80,80,80,1) 100%);
    background: linear-gradient(135deg, rgba(36,36,36,1) 0%, rgba(80,80,80,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242424', endColorstr='#505050', GradientType=1 );
    color: #fff;
}

.teaser-slot article .tx-dlf-collection-thumbnail {
    margin-top: -60px;
}

.hero-teaser {
    background: rgba(78,42,45,1);
    background: -moz-linear-gradient(-45deg, rgba(78,42,45,1) 0%, rgba(36,36,36,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(78,42,45,1)), color-stop(100%, rgba(36,36,36,1)));
    background: -webkit-linear-gradient(-45deg, rgba(78,42,45,1) 0%, rgba(36,36,36,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(78,42,45,1) 0%, rgba(36,36,36,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(78,42,45,1) 0%, rgba(36,36,36,1) 100%);
    background: linear-gradient(135deg, rgba(78,42,45,1) 0%, rgba(36,36,36,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e2a2d', endColorstr='#242424', GradientType=1 );
    color: #fff;
    padding: 60px 30px;
}

.hero-teaser article:first-child {
    width: calc(50% - 15px);
    margin-right: 30px;
    float: left;
}

.hero-teaser article:first-child img {
    width: 100%;
    height: auto;
}

.hero-teaser article:last-child {
    width: auto;
}

.hero-teaser article:last-child p {
    padding: 0 0 30px 0;
}

.legal-info {
    margin: 30px 30px 60px 30px;
}

.legal-info a {
    padding: 5px;
    margin: -5px;
    border-radius: 3px;
}

.legal-info a:hover {
    background: #242424;
    color: #fff;
    text-decoration: none;
}

.tx-dlf-statistics-wrapper {
    margin-top: 90px;
}

span.search-help a img {
    width: 30px;
    margin-left: 12px;
    vertical-align: middle;
}

/*----------------------------------------------------------------------
tx-dlf-search-query
----------------------------------------------------------------------*/

.home-tx-dlf-search.tx-dlf-search-wrapper {
    padding: 0 30px 120px 30px;
    border: 0;
    text-align: center;
}

.tx-dlf-search-wrapper {
    border-top: 1px solid #505050;
    text-align: left;
    padding: 15px 30px;
}

.tx-dlf-search-form {
    width: 100%;
    display: block;
}

#tx-dlf-search-suggest {
    position: absolute;
    display: block;
    left: 30%;
    top: 50px;
    width: 40%;
    margin-left: 30px;
}

#tx-dlf-search-suggest ul {
    position: absolute;
    z-index: 10;
    background: linear-gradient(135deg, rgb(78, 42, 45) 0%, rgb(36, 36, 36) 100%);
    list-style: none;
    padding: 5px;
    text-align: left;
}

#tx-dlf-search-suggest ul li {
    padding: 5px;
}

#tx-dlf-search-suggest ul li:hover {
    background-color: #FFF;
    color: #000;
}

tx-dlf-search-box {
    position: relative;
}

#tx-dlf-search-query {
    width: 30%;
    height: 42px;
}

.tx-dlf-search-wrapper .tx-dlf-search-options {
    float: left;
    margin: 10px 15px 0 0;
}

.home-tx-dlf-search.tx-dlf-search .tx-dlf-search-options {
    float: none;
    margin: 0 0 10px 0;
}

.tx-dlf-search-options input#tx-dlf-search-fulltext-yes {
    margin-left: 10px;
}

.tx-dlf-search-help {
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
}

.tx-dlf-search-help img {
    width: 24px;
    height: auto;
    padding-top: 6px;
}

.search-info-collection {
    padding: 10px;
}

.search-term-deletion {
    background-color: #FFFFFF;
    padding: 20px;
    color: #000000;
    margin-left: -6px;
    border-radius: 3px;
    line-height: 0;
    font-size: 16px;
    color: #242424;
    /* padding: 10px 15px; */
    box-shadow: 0px 3px 0px 0px rgb(120, 120, 120);
    /*border: 1px solid #959595;*/
    border-bottom: 1px solid #959595;
    border-right: 1px solid #959595;
    border-top: 1px solid #959595;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

/*----------------------------------------------------------------------
listview
----------------------------------------------------------------------*/

#search-list-view {
    background: #e4e4e4;
}

.dropdown-menu {
    display: block;
    vertical-align: top;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dropdown-menu ul li.tx-dlf-search-ifsub{
    -webkit-box-shadow: 0px 0px 15px 0px rgba(200,200,200,1);
    box-shadow: 0px 0px 15px 0px rgba(200,200,200,1);
}

.dropdown-menu label {
    display: block;
    padding: 8px 15px 8px 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 700;
    margin-top: 30px;
    background: #fff;
}

.dropdown-menu input[type=checkbox] {
    display: none;
}

.dropdown-menu ul li {
    border-bottom: 1px solid #fff;
    background: #e4e4e4;
    hyphens: auto;
    list-style-type: none;
}

.dropdown-menu ul li:last-child {
    border-bottom: 0;
}

.dropdown-menu ul li a {
    padding: 8px 15px;
    display: block;
    line-height: 16px;
    margin-bottom: 2px;
}

.dropdown-menu ul li a:hover {
    background: #242424;
    color: #fff;
    text-decoration: none;
}

article.calendar-metadata a {
    color: #FFFFFF;
}

.detail-view-itemoptions .dropdown-menu ul li {
    border-top: 1px solid #ababab;
}

.calendar-metadata .dropdown-menu ul li {
    border-top: 1px solid #212121 !important;
    background: #313131;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
}

.tx-dlf-statistics {
    background-color: rgba(36,36,36,0.75);
    color: #999;
    padding: 15px 30px;
}

.tx-dlf-statistics p {
    display: inline;
}

.tx-dlf-statistics p:first-child {
    font-weight: 700;
}

.tx-dlf-listview,
.tx-dlf-ListView {
    background-color: #fff;
    padding-bottom: 60px;
}

.tx-dlf-listview a,
.tx-dlf-ListView a {
    padding: 5px;
    margin: -5px;
    border-radius: 3px;
}

.tx-dlf-listview a:hover,
.tx-dlf-ListView a:hover {
    background: #242424;
    color: #fff;
    text-decoration: none;
}

.listview-headline-sort {
    padding: 30px 30px 0 30px;
}

.tx-dlf-listview-label {
    padding: 0 0 30px 0;
    border-bottom: 1px solid #ababab;
}

.listview-headline-sort form {
    padding: 30px 0 0 0;
}

.listview-sortitem {
    margin: 0 15px 0 0;
    display: inline-block;
}

.listview-sortitem select {
    width: 180px;
}

.listview-baseline-addon {
    display: table;
    width: calc(100% - 60px);
    margin: 0 30px;
}

.listview-baseline-addon p {
    display: table-cell;
    vertical-align: middle;
}

.listview-baseline-addon p:last-child {
    text-align: right;
}

.listview-baseline-addon a {
    background: #e4e4e4;
    border-radius: 3px;
    display: inline-block;
    padding: 10px;
    margin: 0;
    min-width: 20px;
    text-align: center;
    text-decoration: none;
}

.listview-baseline-addon a:hover {
    background: #8D0D1C;
    color: #fff;
}

.lba-active {
    background: #6a6a6a !important;
    color: #fff;
}

.listview-baseline-addon a:first-child {
    background: url(../Images/icon-arrow-left-dark.svg) no-repeat center center #e4e4e4;
    background-size: 24px 24px;
    color: transparent;
}

.listview-baseline-addon a:first-child:hover {
    background: url(../Images/icon-arrow-left.svg) no-repeat center center #8D0D1C;
    background-size: 24px 24px;
    color: transparent;
}

.listview-baseline-addon a:last-child {
    background: url(../Images/icon-arrow-right-dark.svg) no-repeat center center #e4e4e4;
    background-size: 24px 24px;
    color: transparent;
}

.listview-baseline-addon a:last-child:hover {
    background: url(../Images/icon-arrow-right.svg) no-repeat center center #8D0D1C;
    background-size: 24px 24px;
    color: transparent;
}

ol.tx-dlf-listview-list {
    list-style-type: decimal;
    list-style-position: inside;
}

.tx-dlf-listview-list li {
    margin: 30px;
    padding: 15px;
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(200,200,200,1);
    box-shadow: 0px 0px 30px 0px rgba(200,200,200,1);
}

.tx-dlf-listview-list li .add-to-cart {
    position: absolute;
    top: 15px;
    right: -10px;
}

.tx-dlf-listview-list li .add-to-cart a {
    display: inline-block;
    background: url(../Images/icon-star-dark.svg) no-repeat 10px center #fff;
    background-size: 24px 24px;
    color: #242424;
    border-radius: 3px;
    text-decoration: none;
    padding: 8px 10px 8px 45px;
    font-weight: 700;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(100,100,100,0.3);
    box-shadow: 0px 0px 30px 0px rgba(100,100,100,0.3);
}

.tx-dlf-listview-list li .add-to-cart a:hover {
    background: url(../Images/icon-star.svg) no-repeat 10px center #8D0D1C;
    background-size: 24px 24px;
    color: #fff;
}

.tx-dlf-listview-list li .show-volumes {
    position: absolute;
    top: 60px;
    right: -10px;
}

.tx-dlf-listview-list li .show-volumes a {
    display: inline-block;
    border-radius: 3px;
    text-decoration: none;
    padding: 8px 10px 8px 45px;
    font-weight: 700;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(100,100,100,0.3);
    box-shadow: 0px 0px 30px 0px rgba(100,100,100,0.3);
}

.tx-dlf-listview-list li .show-volumes a.show-volumes-expand {
    background: url(../Images/icon-arrow-up.svg) no-repeat 10px center #242424;
    background-size: 24px 24px;
    color: #fff;
}

.tx-dlf-listview-list li .show-volumes a.show-volumes-expand:hover {
    background: url(../Images/icon-arrow-up.svg) no-repeat 10px center #8D0D1C;
    background-size: 24px 24px;
}

.tx-dlf-listview-list li .show-volumes a.show-volumes-minimize {
    background: url(../Images/icon-arrow-down-dark.svg) no-repeat 10px center #fff;
    background-size: 24px 24px;
    color: #242424;
}

.tx-dlf-listview-list li .show-volumes a.show-volumes-minimize:hover {
    background: url(../Images/icon-arrow-down.svg) no-repeat 10px center #8D0D1C;
    background-size: 24px 24px;
    color: #fff;
}

.tx-dlf-listview-list dl {
    padding: 0 30px;
    margin: -20px 0 0 12%;
    width: 60%;
    min-height: 100px;
}

dt.tx-dlf-metadata-title {
    font-size: 16px;
}

dd.tx-dlf-metadata-title {
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 5px;
}

.tx-dlf-metadata {
    display: block !important;
}

dt.tx-dlf-metadata,
dt.tx-dlf-sizesourceprint,
dt.tx-dlf-publisher,
dt.tx-dlf-subtitle,
dt.tx-dlf-purl,
dt.tx-dlf-signature,
dt.tx-dlf-year,
dt.tx-dlf-type,
dt.tx-dlf-title,
dt.tx-dlf-place,
dt.tx-dlf-author,
dt.tx-dlf-metadata-title,
dt.tx-dlf-metadata-place,
dt.tx-dlf-metadata-type,
dt.tx-dlf-metadata-year,
dt.tx-dlf-metadata-author,
.tx-dlf-listview-list li ol li dt {
    float: left;
    padding-right: 15px;
}

dd.tx-dlf-metadata,
dd.tx-dlf-sizesourceprint,
dd.tx-dlf-publisher,
dd.tx-dlf-subtitle,
dd.tx-dlf-purl,
dd.tx-dlf-signature,
dd.tx-dlf-year,
dd.tx-dlf-type,
dd.tx-dlf-title,
dd.tx-dlf-place,
dd.tx-dlf-author,
dd.tx-dlf-metadata-place,
dd.tx-dlf-metadata-type,
dd.tx-dlf-metadata-year,
dd.tx-dlf-metadata-author,
.tx-dlf-listview-list li ol li dd {
    font-weight: 700;
}

.tx-dlf-listview-list .tx-dlf-listview-thumbnail {
    display: block;
    position: absolute;
}

.tx-dlf-listview-list li ol .tx-dlf-listview-thumbnail {
    position: relative;
}

.tx-dlf-listview-list .tx-dlf-listview-thumbnail img {
    width: 60px;
    height: auto;
    margin: -15px 0 30px 35px;
}

.tx-dlf-listview-list .tx-dlf-listview-thumbnail img:not(.no-hover):hover {
    width: 120px;
    transition: width 0.5s;
}

.tx-dlf-listview-list li ol {
    list-style-type: lower-latin;
    list-style-position: inside;
    margin-top: 15px;
}

.tx-dlf-listview-list li ol li {
    border-top: 1px solid #ababab;
    display: table;
    background-color: #e4e4e4;
    width: 100%;
    padding: 0;
    margin: 0;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(200,200,200,0);
    box-shadow: 0px 0px 0px 0px rgba(200,200,200,0);
}

.tx-dlf-listview-list li ol li dl {
    padding: 15px 0;
    display: table-cell;
    vertical-align: top;
}

.tx-dlf-listview-list li ol li dd.tx-dlf-metadata-title {
    font-size: 16px;
}

.tx-dlf-listview-list li ol li .tx-dlf-listview-thumbnail {
    display: table-cell;
    vertical-align: top;
    width: 10%;
}

.tx-dlf-listview-list li ol li .add-to-cart {
    position: relative;
    top: 0;
    right: 0;
    padding: 15px;
    display: table-cell;
    width: 30%;
    text-align: right;
    vertical-align: top;
}

.tx-dlf-listview-list li ol li .add-to-cart a {
    display: inline-block;
    background: url(../Images/icon-star-dark.svg) no-repeat 10px center #fff;
    background-size: 24px 24px;
    color: #242424;
    border-radius: 3px;
    text-decoration: none;
    padding: 8px 10px 8px 45px;
    font-weight: 700;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(100,100,100,0.3);
    box-shadow: 0px 0px 30px 0px rgba(100,100,100,0.3);
}

.tx-dlf-listview-list li ol li .add-to-cart a:hover {
    background: url(../Images/icon-star.svg) no-repeat 10px center #8D0D1C;
    background-size: 24px 24px;
    color: #fff;
}

.tx-dlf-listview-list li ol li .tx-dlf-listview-thumbnail img {
    width: 60px;
    height: auto;
    padding: 15px;
    margin: 0;
}

.tx-dlf-search-facets {
    padding: 30px;
}

.tx-dlf-search-facets h2 {
    font-size: 24px;
    background: url(../Images/icon-filter-dark.svg) no-repeat left center transparent;
    background-size: 24px 24px;
    padding-left: 34px;
}

/*----------------------------------------------------------------------
detail-view
----------------------------------------------------------------------*/

#detail-view {
    background-color: #e4e4e4;
}

.detail-view-main {
    background: #fff;
}

.detail-view-header {
    padding: 30px;
    display: table;
    width: calc(100% - 60px);
}

.detail-view-title {
    width: 31%;
    display: table-cell;
    vertical-align: top;
}

.detail-view-title .tx-dlf-metadata dl dt.tx-dlf-metadata-title {
    display: none;
}

.detail-view-nav {
    width: 25%;
    display: table-cell;
    text-align: right;
    vertical-align: top;
}

.detail-aside-nav {
    padding: 30px;
}

.tx-dlf-toolbox {
    position: absolute;
    right: 20px;
    top: 30px;
}

.tx-dlf-toolbox li,
.tx-dlf-navigation li,
.tx-dlf-Navigation li{
    display: inline;
    list-style-type: none;
    margin-left: 5px;
}

.tx-dlf-toolbox li span,
.tx-dlf-navigation li span,
.tx-dlf-Navigation li span {
    border-radius: 3px;
    padding: 8px;
    line-height: 0;
    font-size: 16px;
    color: #ccc;
    background: #ababab;
    display: inline-block;
}

.tx-dlf-navigation .dropdown-menu span,
.tx-dlf-Navigation .dropdown-menu span {
    background: transparent;
    color: #242424;
    padding: 0;
    line-height: 16px;
}

.tx-dlf-toolbox li a,
.tx-dlf-navigation li a,
.tx-dlf-Navigation li a {
    border-radius: 3px;
    padding: 8px;
    line-height: 0;
    font-size: 16px;
    display: inline-block;
    background: #6a6a6a;
    color: #fff !important;
    font-weight: 700;
    text-decoration: none !important;
    text-shadow: 0px 1px 0px rgb(86, 7, 16);
    border: 0;
    margin: 0;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.tx-dlf-toolbox li a:hover,
.tx-dlf-navigation li a:hover,
.tx-dlf-Navigation li a:hover {
    background: #8D0D1C !important;
    transition: background 0.5s ease-in-out;
    -webkit-transition: background 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
}

.tx-dlf-toolbox li a.active {
    background: #8D0D1C !important;
}

.lba-active {
    background: #6a6a6a !important;
    color: #fff;
}

.tx-dlf-toolbox li img,
.tx-dlf-navigation li img,
.tx-dlf-Navigation li img {
    width: 24px;
    height: auto;
}

.tx-dlf-navigation-pageselect div,
.tx-dlf-navigation-pageselect form {
    display: inline-block;
    vertical-align: top;
}

.tx-dlf-navigation-next,
.tx-dlf-navigation-double {
    margin-right: 10px;
}

.detail-view-itemoptions {
    margin: 30px;
    position: relative;
    z-index: 3;
}

.detail-view-itemdetails {
    vertical-align: top;
}

.detail-view-itemoptions .detail-view-itemcontents {
    vertical-align: top;
}

.detail-view-itemoptions .dropdown-menu label {
    background: url(../Images/icon-arrow-down.svg) no-repeat 95% center #6a6a6a;
    background-size: 16px auto;
    margin-top: 5px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    padding: 8px 30px 8px 15px;
}

.detail-view-itemoptions .dropdown-menu label:hover {
    background: url(../Images/icon-arrow-down.svg) no-repeat 95% center #8D0D1C;
    background-size: 16px auto;
    color: #fff;
}

.detail-view-tools,
.tx-dlf-toolbox,
.tx-dlf-toolbox .dropdown-menu {
    display: inline;
}

.detail-view-tools .dropdown-menu label {
    background: #6a6a6a;
    margin-top: 0;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    padding: 8px;
    display: inline-block;
    line-height: 0;
    background-position: 24px bottom;
}

.detail-view-tools .dropdown-menu label:hover {
    background: url(../Images/icon-arrow-down.svg) no-repeat 24px 24px #8D0D1C;
    background-size: 10px auto;
    transition: background 0.5s ease-in-out;
    -webkit-transition: background 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
}
.calendar-metadata .dropdown-menu ul,
.detail-view-tools .dropdown-menu ul,
.detail-view-itemoptions .dropdown-menu ul {
    display: none;
}

.detail-view-itemoptions .dropdown-menu ul ul {
    border: 0;
}

.detail-view-itemoptions .dropdown-menu ul li {
    border-top: 1px solid #ababab;
    border-bottom: 0;
    position: relative;
}

.detail-view-itemoptions .dropdown-menu input[type=checkbox]:checked ~ label {
    background: url(../Images/icon-arrow-up.svg) no-repeat 95% center #8D0D1C;
    background-size: 16px auto;
    color: #fff;
}

.detail-view-tools .dropdown-menu input[type=checkbox]:checked ~ label {
    background: url(../Images/icon-arrow-up.svg) no-repeat 24px 24px #8D0D1C;
    background-size: 10px auto;
    color: #fff;
}

.detail-view-itemoptions .dropdown-menu input[type=checkbox]:checked ~ ul,
.detail-view-itemoptions .dropdown-menu input[type=checkbox]:checked ~ ul ul,
.detail-view-itemoptions .dropdown-menu input[type=checkbox]:checked ~ div.tx-dlf-toolbox ul,
.detail-view-itemoptions .dropdown-menu input[type=checkbox]:checked ~ div div.tx-dlf-toolbox ul{
    display: block;
}

.detail-view-tools .dropdown-menu input[type=checkbox]:checked ~ ul,
.detail-view-tools .dropdown-menu input[type=checkbox]:checked ~ ul ul,
.detail-view-tools .dropdown-menu input[type=checkbox]:checked ~ div.tx-dlf-toolbox ul,
.detail-view-tools .dropdown-menu input[type=checkbox]:checked ~ div div.tx-dlf-toolbox ul{
    display: block;
    background: #fff;
    position: absolute;
    z-index: 5;
    padding: 15px;
    margin-right: 30px;
}

.detail-view-itemoptions .dropdown-menu ul li a,
.detail-view-itemoptions .dropdown-menu ul li .tx-dlf-imagedownloadtool,
.detail-view-itemoptions .dropdown-menu ul li .tx-dlf-fulltexttool,
.detail-view-itemoptions .dropdown-menu ul li .tx-dlf-pdfdownloadtool {
    padding: 5px 15px;
}

.tx-dlf-toolsPdf span {
    border-top: 1px solid #d8d8d8;
    display: block;
}

span.no-fulltext {
    display: inline-block;
}

.tx-dlf-fulltexttool {
    display: inline;
}

.tx-dlf-pdfdownloadtool {
    display: inline;
}

.tx-dlf-toolsPdf span:first-child {
    border-top: 0;
}

.detail-view-itemoptions .tx-dlf-toc-title {
    width: 90%;
    display: block;
}

.detail-view-itemoptions .tx-dlf-basket-button {
    position: absolute;
    top: 5px;
    right: 15px;
}

.detail-view-itemoptions .tx-dlf-basket-button a {
    display: inline-block;
    background: url(../Images/icon-star-dark.svg) no-repeat 10px center #fff;
    background-size: 16px 16px;
    color: #242424;
    border-radius: 3px;
    text-decoration: none;
    padding: 8px 10px 8px 30px !important;
    font-weight: 700;
}

.detail-view-itemoptions .tx-dlf-basket-button a:hover {
    background: url(../Images/icon-star.svg) no-repeat 10px center #8D0D1C;
    background-size: 16px 16px;
    color: #fff;
}


.tx-dlf-toc-act {
    margin: 0;
}

.tx-dlf-toc-ifsub dl {
    padding: 15px;
}

.detail-view-itemdetails dt,
.detail-view-itemdetails label dt {
    display: inline;
    padding-right: 5px;
    font-weight: 400;
}

.detail-view-itemdetails dd,
.detail-view-itemdetails label dd {
    font-weight: 700;
    display: inline;
}

.detail-view-itemdetails .dropdown-menu ul dt a,
.detail-view-itemdetails .dropdown-menu ul dd a {
    padding: 0 !important;
    display: inline;
}

.tx-dlf-pagegrid {
    z-index: 4;
    text-align: center;
    background: rgba(78,42,45,1);
    background: -moz-linear-gradient(-45deg, rgba(78,42,45,1) 0%, rgba(36,36,36,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(78,42,45,1)), color-stop(100%, rgba(36,36,36,1)));
    background: -webkit-linear-gradient(-45deg, rgba(78,42,45,1) 0%, rgba(36,36,36,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(78,42,45,1) 0%, rgba(36,36,36,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(78,42,45,1) 0%, rgba(36,36,36,1) 100%);
    background: linear-gradient(135deg, rgba(78,42,45,1) 0%, rgba(36,36,36,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e2a2d', endColorstr='#242424', GradientType=1 );
    margin: 0 auto;
    padding: 30px 15px;
    line-height: 0;
}

.tx-dlf-pagegrid-list {
    list-style-type: none;
    display: block;
    height: 100%;
}

.tx-dlf-pagegrid-list li {
    display: inline-block;
}

.tx-dlf-pagegrid .tx-dlf-pagegrid-thumbnail {
    position: relative;
    display: block;
    width: 25px;
    margin: 0 3px;
    height: auto;
    min-height: 25px;
}

.tx-dlf-pagegrid .tx-dlf-pagegrid-thumbnail a {
    display: block;
    width: 25px;
    height: auto;
    line-height: 0;
    font-size: 16px;
    border: 2px solid #adadad;
    position: absolute;
    top: 0;
    left: 0;
}

.tx-dlf-pagegrid .tx-dlf-pagegrid-thumbnail a:hover {
    top: -75px;
    left: -55px;
    width: 80px;
    border: 2px solid #8D0D1C;
    z-index: 99;
}

.tx-dlf-pagegrid .tx-dlf-pagegrid-thumbnail img {
    width: 100%;
    height: auto;
}

.volume-info {
    background-color: #ababab;
    padding: 8px 15px;
    color: #fff;
    border-radius: 3px;
    margin: 30px;
}

.volume-list {
    padding: 0 30px 30px 30px;
    list-style: none;
}

.volume-list li a {
    background: #6a6a6a;
    display: inline-block;
    border-radius: 3px;
    padding: 8px 15px;
    color: #fff;
    margin: 0 5px 5px 0;
    text-decoration: none;
}

.volume-list li a:hover {
    background: #8D0D1C;
}

.termsOfUse {
    position: absolute;
    z-index: 100;
    background-color: #242424;
    padding: 1rem;
    right: 0px;
    color: #FFF;
    opacity: 0.9;
    max-width: 60%;
}

.termsOfUse a {
    color: #FFF;
}

.termsOfUse label {
    padding-left: 0.5em;
}

div#tx-dlf-fulltextselection .highlight {
    background-color: yellow;
}

#tx-dlf-fulltextselection .textline {
    margin-right: 3px;
}

#tx-dlf-fulltextselection {
    position: absolute;
    right: 0px;
    background: #e4e4e4;
    z-index: 9;
    width: 31%;
    top: 395px;
    padding: 15px;
    overflow: auto;
    max-height: 500px;
}

#tx-dlf-fulltextselection:empty {
    padding:0;
}

#tx-dlf-fulltextselection br + br {
    display: none;
}

#tx-dlf-fulltextselection .textline {
    padding-right: 5px;
}

span.fullPdfDownloadSpan,
span.tx-dlf-tools-fulltext {
    padding: 0 !important;
}

span.fullPdfDownloadSpan img {
    width: 24px;
    height: auto;
}

.tx-dlf-toolbox ul li {
    list-style: none;
}

.tx-dlf-navigation-tools > span {
    display: none;
}

.tx-dlf-toolbox ul {
    z-index: 10 !important;
    display: inline;
}

.tx-dlf-navigation-tools > div {
    display: inline;
}

.tx-dlf-navigation-tools > span {
    display: none !important;
}

.tx-dlf-tools-pdf-page {
    display: none !important;
}

.tx-dlf-tools-pdf-work {
    display: none !important;
}

.dlf-search-switch {
    display: flex;
    overflow: hidden;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

.dlf-search-switch input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 0px;
    width: 0px;
    border: 0;
    overflow: hidden;
}

.dlf-search-switch label {
    background-color: #242424;
    color: #fff;
    text-align: center;
    border: 1px solid #959595;
    transition: all 0.1s ease-in-out;
    font-size: 16px;
    padding: 5px 15px;
}

.dlf-search-switch label:hover {
    cursor: pointer;
}

.dlf-search-switch input:hover + label {
    background: rgb(141, 13, 28) !important;
    transition: background 0.5s ease-in-out;
    -webkit-transition: background 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
}

.dlf-search-switch input:checked + label {
    background-color: #B12736;
    border: 1px solid #B12736;
}

.dlf-search-switch label:first-of-type {
    border-radius: 5px 0 0 5px;
}

.dlf-search-switch label:last-of-type {
    border-radius: 0 5px 5px 0;
}


/*----------------------------------------------------------------------
calendar + listview
----------------------------------------------------------------------*/

.tx-dlf-calendar .meta-header,
.tx-dlf-calendar-years .meta-header {
    background-color: #fff;
    border-radius: 3px;
    webkit-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.2);
    margin: 0 15px;
    display: table;
    width: calc(100% - 30px);
}

.calendar-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    list-style-type: none;
}

.calendar-view,
.tx-dlf-calendar-years .year-view li {
    position: relative;
    padding: 30px;
    text-align: center;
    background: rgba(78,42,45,1);
    background: -moz-linear-gradient(-45deg, rgba(78,42,45,1) 0%, rgba(36,36,36,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(78,42,45,1)), color-stop(100%, rgba(36,36,36,1)));
    background: -webkit-linear-gradient(-45deg, rgba(78,42,45,1) 0%, rgba(36,36,36,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(78,42,45,1) 0%, rgba(36,36,36,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(78,42,45,1) 0%, rgba(36,36,36,1) 100%);
    background: linear-gradient(135deg, rgba(78,42,45,1) 0%, rgba(36,36,36,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e2a2d', endColorstr='#242424', GradientType=1 );
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    color: #fff;
}

table.month {
    width: 100%;
    border-spacing: 0;
}

table.month caption {
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

table.month tr:first-child {
    width: 100%;
}

table.month th {
    padding: 5px 0;
}

table.month td {
    padding: 2px;
    color: #999;
}

table.month h4 {
    border: 1px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 700;
    color: #c83141;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

table.month h4:hover {
    color: #fff;
    border: 1px solid #F2FBFF;
}

.year-anchor {
    display: table-cell;
    padding: 30px;
    vertical-align: middle;
}

.tx-dlf-calendar .meta-header .year,
.tx-dlf-calendar .meta-header .meta-hint-year,
.tx-dlf-calendar-years .meta-hint-year {
    padding-top: 5px;
    color: #999;
}

.calendar-list-selection {
    display: table-cell;
    text-align: right;
    padding: 30px 0 0 0;
    vertical-align: middle;
}

.calendar-list-selection a {
    background: #e4e4e4;
    border-radius: 3px;
    display: inline-block;
    padding: 10px;
    margin: 2px;
    min-width: 20px;
    text-align: center;
    text-decoration: none;
}

.calendar-list-selection a:hover {
    background: #8D0D1C;
    color: #fff;
}

.tx-dlf-calendar,
.tx-dlf-calendar-years {
    background: #242424;
    padding: 60px 30px;
}

.tx-dlf-calendar .list-view {
    background-color: #242424;
    color: #fff;
}

.tx-dlf-calendar .list-view li {
    border-top: 1px solid #505050;
    padding: 15px 0;
    list-style-type: none;
}

.tx-dlf-calendar .list-view li:first-child {
    border-top: 0;
}

.tx-dlf-calendar-years .year-view ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    list-style-type: none;
}

.tx-dlf-calendar-years .year-view li a,
.tx-dlf-calendar .list-view a {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    padding: 5px;
    margin: -5px;
    text-decoration: none;
}

.tx-dlf-calendar .list-view a {
    display: inline-block;
    margin-left: 5px;
}

.tx-dlf-calendar-years .year-view li a:hover,
.tx-dlf-calendar .list-view a:hover {
    color: #242424;
    background: #fff;
    border-radius: 3px;
}

.calendar-description h2 a,
.calendar-description p a {
    color: #FFF;
}

article.calendar-metadata {
    display: inline-block;
    width: 41%;
    margin: 0;
}

article.calendar-metadata ul li dl {
    padding: 10px;
}

.dropdown-menu ul li .tx-dlf-icon-cur a {
    background: url(../Images/icon-delete-dark.svg) 10px center no-repeat;
    background-size: 16px 16px;
    padding: 8px 15px 8px 35px;
}

.dropdown-menu ul li .tx-dlf-icon-cur a:hover {
    background: url(../Images/icon-delete.svg) 10px center no-repeat #242424;
    background-size: 16px 16px;
    padding: 8px 15px 8px 35px;
}

.issues div {
    position: absolute;
    background-color: white;
    padding: 1rem;
    display: none;
    left: 0px;
    right: 0px;
}

.issues div ul {
    list-style: none;
}

/*----------------------------------------------------------------------
basket
----------------------------------------------------------------------*/

.tx-dlf-basket {
    background-color: #242424;
    color: #fff;
    padding: 0 0 60px 0;
    width: 100%;
}

.tx-dlf-basket-counts {
    display: block;
}

.tx-dlf-basket-list {
    padding: 60px 30px 30px 30px;
}

.tx-dlf-basket-list li {
    border-bottom: 1px solid #505050;
    padding: 15px 0;
    list-style-type: none;
}

.tx-dlf-basket-list li dl {
    display: table;
    width: 100%;
}

.tx-dlf-basket-list li dt {
    display: table-cell;
    width: auto;
    vertical-align: top;
}

.tx-dlf-basket-list li dd {
    display: table-cell;
    width: 60px;
    vertical-align: top;
}

.tx-dlf-basket-actions {
    padding: 15px 30px;
}

.tx-dlf-basket-actions select {
    margin-bottom: 15px;
}

.tx-dlf-basket-list a {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    padding: 5px;
    margin: -5px;
    text-decoration: none;
    display: inline-block;
}

.tx-dlf-basket-list a:hover {
    color: #242424;
    background: #fff;
    border-radius: 3px;
}

.basket-list-itemdetails {
    display: block;
    padding-top: 10px;
}

li.tx-dlf-toc-cur {
    font-weight: bold;
}

.tx-dlf-toc li {
    padding-left:5px;
}

.pagingFormDiv {
    text-align: right;
    padding-top: 15px;
    padding-right: 30px;
}


/*----------------------------------------------------------------------
footer
----------------------------------------------------------------------*/

footer {
    width: 100%;
    z-index: 1;
}

#footer-content {
    width: 100%;
    background: #4e2a2d;
    background-size: 100% auto;
    font-size: 13px;
    display: table;
}

#footer-content ul {
    padding: 30px 0px 30px 30px;
    display: table-cell;
    vertical-align: bottom;
    list-style-type: none;
}

#footer-content li {
    display: inline;
    margin-right: 5px;
}

#footer-content li a {
    background: #fff;
    color: #4e2a2d;
    border-radius: 3px;
    padding: 3px 5px;
    text-decoration: none;
}

#footer-content li a:hover {
    background: rgb(141, 13, 28);
    color: #fff;
    box-shadow: 0px 3px 0px 0px rgb(86, 7, 16);
}

/*----------------------------------------------------------------------
grid content element
----------------------------------------------------------------------*/
.grid-wrapper-2-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.col-1-2 {
    grid-column: 1;
    grid-row: 1;
}
.col-2-2 {
    grid-column: 2;
    grid-row: 1;
}

main section {
    padding-top: 17px;
    background-color: #242424;
}

.frame-type-presentationpackage_gridtwocolumn {
    padding: 17px 30px 0px 30px;
}

div.ce-left {
    text-align: left;
}

div.ce-right {
    text-align: right
}

div.ce-center {
    text-align: center;
}


/*----------------------------------------------------------------------
max 1600px
----------------------------------------------------------------------*/

@media only screen and (max-width: 1600px) {

    main aside {
        float: right;
        width: 35%;
    }

    #main-content {
        float: left;
        width: 65%;
    }

    .tx-dlf-collection-list,
    .calendar-items,
    .tx-dlf-calendar-years .year-view ul {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #footer-content p {
        padding: 120px 15px 15px 0px;
    }

    .tx-dlf-collection-list h2 {
        hyphens: auto;
    }

    .legal-info {
        clear: both;
        padding: 30px 30px 0 30px;
        margin: 30px 0 60px 0;
    }

}

/*----------------------------------------------------------------------
max 1350px
----------------------------------------------------------------------*/

@media only screen and (max-width: 1350px) {
    aside section {
        top: 50px;
        right: -3px !important;
    }
}

/*----------------------------------------------------------------------
max 1024px
----------------------------------------------------------------------*/

@media only screen and (max-width: 1024px) {

    body {
        background-size: auto 400px;
    }

    .tx-dlf-collection-list,
    .calendar-items,
    .tx-dlf-calendar-years .year-view ul,
    .teaser-slot {
        grid-template-columns: 1fr 1fr;
    }

    .portal-logo {
        font-size: 32px;
        line-height: 36px;
        padding: 30px 15px;
    }

    .portal-claim {
        font-size: 20px;
        line-height: 24px;
        padding: 0 15px 30px 15px;
    }

    .tx-dlf-collection-list h2,
    .teaser-slot article h2,
    .hero-teaser h2,
    .tx-dlf-basket-list a,
    .tx-dlf-calendar-years .year-view li a,
    .tx-dlf-calendar .list-view a {
        font-size: 20px;
        line-height: 24px;
    }

    .home-tx-dlf-search.tx-dlf-search-wrapper {
        padding: 0 30px 60px 30px;
    }

    main aside {
        float: none;
        width: 100%;
    }

    .hero-teaser article:first-child {
        width: 100%;
        margin: 0 0 30px 0;
        float: none;
    }

    #main-content {
        float: none;
        width: 100%;
    }

    #footer-content {
        background-size: auto 400px;
        display: block;
    }

    #footer-content ul {
        padding: 15px;
        display: block;
        text-align: center;
    }

    .dropdown-menu label,
    .detail-view-itemoptions .dropdown-menu label {
        background: url(../Images/icon-arrow-down.svg) no-repeat 97% center #6a6a6a;
        background-size: 16px auto;
        margin-top: 5px;
        color: #fff;
        border-radius: 3px;
        cursor: pointer;
        padding: 8px 30px 8px 15px;
    }

    .dropdown-menu label:hover,
    .detail-view-itemoptions .dropdown-menu label:hover {
        background: url(../Images/icon-arrow-down.svg) no-repeat 97% center #8D0D1C;
        background-size: 16px auto;
    }

    .dropdown-menu ul ul {
        display: none;
    }

    .dropdown-menu input[type=checkbox]:checked ~ label,
    .detail-view-itemoptions .dropdown-menu input[type=checkbox]:checked ~ label {
        background: url(../Images/icon-arrow-up.svg) no-repeat 97% center #8D0D1C;
        background-size: 16px auto;
    }

    .dropdown-menu input[type=checkbox]:checked ~ div.dropdown-menu ul {
        display: block;
    }

    .dropdown-menu ul li a {
        padding: 5px 15px;
    }

    .tx-dlf-listview-list li .add-to-cart,
    .tx-dlf-listview-list li .show-volumes {
        right: 15px;
    }

    .detail-view-itemoptions {
        margin: 15px 30px;
    }

    tx-dlf-search-facets {
        padding: 15px 30px;
    }

    .detail-aside-nav {
        padding: 15px 30px;
    }

    .tx-dlf-search-facets h2 {
        font-size: 16px;
    }

    .tx-dlf-navigation-next,
    .tx-dlf-navigation-rotate-right {
        margin-right: 0px;
    }

    .detail-view-header {
        padding: 15px;
        display: block;
        width: calc(100% - 30px);
    }

    .detail-view-title {
        width: 100%;
        display: block;
        padding-bottom: 15px;
    }

    dd.tx-dlf-metadata-title,
    dt.tx-dlf-metadata-title {
        float: none;
        display: inline;
    }

    .detail-view-nav {
        width: 100%;
        display: block;
        text-align: left;
    }

    .tx-dlf-navigation-rotate-right {
        margin-right: 0;
    }

    .detail-view-itemoptions .tx-dlf-toc-title {
        width: 100%;
    }

    .detail-view-itemoptions .tx-dlf-basket-button {
        position: inherit;
        top: 0;
        left: 15px;
        display: block;
        margin-bottom: 15px;
    }

    .tx-dlf-toolbox {
        position: absolute;
        right: 20px;
        top: 15px;
    }

}

@media only screen and (max-width: 980px) {
    main aside {
        float: right;
        width: 45%;
    }

    #main-content {
        float: left;
        width: 55%;
    }
}

@media only screen and (max-width: 800px) {
    .tx-dlf-toolbox {
        position: initial;
        display: inline-block;
    }
}


/*----------------------------------------------------------------------
max 700px
----------------------------------------------------------------------*/

@media only screen and (max-width: 700px) {

    .meta-navigation {
        padding-right: 15px;
        width: 35%;
    }

    .portal-claim br {
        float: left;
    }

    .portal-meta {
        width: calc(100% - 30px);
        padding: 15px;
    }

    .legal-info {
        padding: 30px 15px 30px 15px;
        margin: 0;
    }

    .hero-teaser,
    .tx-dlf-calendar, .tx-dlf-calendar-years {
        padding: 30px 15px;
    }

    .teaser-slot {
        margin: 30px 15px;
    }

    .tx-dlf-collection-list {
        margin: 0 15px;
    }

    .detail-view-itemoptions {
        margin: 0;
    }

    .tx-dlf-collection {
        padding: 30px 0;
    }

    .collection-intro article {
        padding: 30px 15px;
    }

    .home-tx-dlf-search.tx-dlf-search-wrapper {
        padding: 0 15px 60px 15px;
    }

    .collection-intro article {
        width: calc(100% - 60px);
    }

    .listview-headline-sort {
        padding: 15px 15px 0 15px;
    }

    .tx-dlf-basket-actions,
    .tx-dlf-search-facets,
    .detail-aside-nav {
        padding: 15px;
    }

    .tx-dlf-listview-label {
        padding: 0 0 15px 0;
    }

    .tx-dlf-listview-list li {
        margin: 15px;
    }

    .tx-dlf-collection-list,
    .calendar-items,
    .tx-dlf-calendar-years .year-view ul,
    .teaser-slot {
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }

    .tx-dlf-collection-list li {
        padding: 15px;
    }

    .tx-dlf-collection-thumbnail {
        margin-bottom: 15px;
    }

    .tx-dlf-search-wrapper {
        padding: 15px;
    }

    .tx-dlf-statistics {
        padding: 15px;
    }

    #tx-dlf-search-query,
    #tx-dlf-search-logical-page {
        width: 93%;
        margin-bottom: 15px;
    }

    .search-term-deletion {
        margin-bottom: 15px;
    }

    .dropdown-menu input[type=checkbox]:checked ~ ul {
        display: block;
        position: relative;
    }

    .listview-headline-sort form {
        display: block;
        padding: 15px 15px 10px 0px;
    }

    .listview-headline-sort select {
        width: 100%;
    }

    .listview-baseline-addon {
        display: block;
        width: 100%;
        margin: 15px 0;
    }

    .listview-baseline-addon p {
        padding: 0 15px;
        display: block;
        text-align: center;
    }

    .listview-baseline-addon a {
        margin-top: 5px;
    }

    .listview-baseline-addon p:last-child {
        text-align: center;
    }

    .tx-dlf-listview-list .tx-dlf-listview-thumbnail {
        position: relative;
    }

    .tx-dlf-listview-list dl {
        width: 80%;
        margin: -20px 0 0 0;
    }

    .tx-dlf-listview-list li .add-to-cart {
        position: relative;
        margin-top: 15px;
        top: 0;
        left: 0;
    }

    .tx-dlf-listview-list li .show-volumes {
        position: relative;
        margin-top: 5px;
        top: 0;
        left: 0;
    }

    .tx-dlf-listview-list li ol li {
        display: block;
        width: 100%;
    }

    .tx-dlf-listview-list li ol li .tx-dlf-listview-thumbnail {
        display: block;
        width: auto;
    }

    .tx-dlf-listview-list li ol li dl {
        padding: 15px 0;
        display: table-cell;
        vertical-align: top;
    }

    .tx-dlf-listview-list li ol li .add-to-cart {
        left: 0;
        padding: 0 15px 15px 15px;
        margin: 0;
        display: block;
        width: auto;
        text-align: left;
    }

    dt.tx-dlf-metadata-title,
    dt.tx-dlf-metadata-place,
    dt.tx-dlf-metadata-type,
    dt.tx-dlf-metadata-year,
    dt.tx-dlf-metadata-author,
    .tx-dlf-listview-list li ol li dt {
        float: none;
        padding-right: 0;
    }

    .tx-dlf-navigation li a,
    .tx-dlf-navigation li span,
    .detail-view-tools .dropdown-menu label {
        margin-bottom: 5px;
        padding: 8px 5px;
    }

    .detail-view-itemoptions {
        display: block;
        padding: 15px 0;
    }

    .detail-view-itemoptions .detail-view-itemcontents,
    .detail-view-itemoptions .detail-view-itemdetails {
        display: block;
        position: inherit;
        width: calc(100% - 30px);
        padding: 0;
        margin: 0 15px;
        left: 0;
    }

    .detail-view-itemdetails {
        display: block;
    }

    .tx-dlf-pagegrid .tx-dlf-pagegrid-thumbnail {
        margin: 5px;
        height: auto;
    }

    .tx-dlf-pagegrid .tx-dlf-pagegrid-thumbnail a {
        position: inherit;
    }

    .tx-dlf-pagegrid .tx-dlf-pagegrid-thumbnail a:hover {
        top: 0;
        left: 0;
        width: 25px;
    }

    .tx-dlf-calendar .meta-header,
    .tx-dlf-calendar-years .meta-header {
        display: block;
    }

    .year-anchor {
        display: block;
        text-align: center;
        padding: 15px 15px 0 15px;
    }

    .calendar-list-selection {
        padding: 15px 0 15px 0;
    }

    .calendar-view {
        padding: 15px;
    }

    .tx-dlf-calendar .list-view li {
        padding: 5px 0;
    }

    .tx-dlf-calendar .meta-header .year,
    .tx-dlf-calendar .meta-header .meta-hint-year,
    .tx-dlf-calendar-years .meta-hint-year {
        padding-bottom: 15px;
    }

    .tx-dlf-basket-list {
        padding: 0 15px;
    }

    .volume-info {
        margin: 15px;
    }

    .volume-list {
        padding: 0 15px 30px 15px;
    }

    .tx-dlf-toolbox {
        display: inline-block;
        position: initial;
    }

}

.tx-dlf-map {
    min-height: 1000px;
}

span.tx-dlf-toc-pagination {
    position: absolute;
    right: 0px;
    top: 0px;
}

/* Needed to remove CSS styles from styles.css */

.span_2_of_2 {
    width: 100% !important;
}

.mc_col {
    margin: 0px;
}

ol.subentry {
    display: none;
}