<f:layout name="DefaultLayout" />
<f:section name="Main">
<main class="clear" id="detail-view">
	<section>

		<aside>
			<section>
				<div id="c10" class="detail-aside-nav">

					<f:format.raw>{contentNavigation}</f:format.raw>

				</div>

			</section>

			<article class="detail-view-itemoptions">

				<div id="c16" class="detail-view-tools">

					<div class="dropdown-menu" data-children-count="4">
						<input type="checkbox" id="checkbox-menu2">
						<label for="checkbox-menu2">Werkzeuge</label>
						<ul>
							<li>
								<f:format.raw>{contentTools}</f:format.raw>
							</li>
						</ul>
					</div>

				</div>

				<f:format.raw>{contentTOC}</f:format.raw>

				<div class="detail-view-itemdetails">

					<ul style="list-style: none;">
						<li class="tx-dlf-toc-act tx-dlf-toc-ifsub">
							<f:format.raw>{contentMetadata}</f:format.raw>
						</li>
					</ul>

				</div>

			</article>
		</aside>

		<section id="main-content">
			<div class="detail-view-main">
				<article class="detail-view-header">

					<div id="c9" class="detail-view-title">

						<f:format.raw>{contentMetadataTitle}</f:format.raw>

					</div>

					<div class="detail-view-nav">
						<f:format.raw>{contentPageviewNavigation}</f:format.raw>
					</div>

				</article>
			</div>

			<f:format.raw>{contentMain}</f:format.raw>
		</section>
	</section>
</main>
</f:section>