<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

    <f:layout name="Content"/>

    <f:section name="Configuration">
        <flux:form id="SectionGrid"
                   label="66/33"
                   description="Grid with 2 columns (66%|33%)"
                   options="{group: 'Sections', Fluidcontent: '{sorting: 30}', icon: '{f:uri.resource(path: \'Icons/Content/Icon.gif\')}' }">

            <flux:grid>
                <flux:grid.row>
                    <flux:grid.column
                            style="width:66.66%;"
                            name="columnLeft"
                            label="Column left "/>
                    <flux:grid.column
                            style="width:33.33%;"
                            name="columnRight"
                            label="Column right"/>
                </flux:grid.row>
            </flux:grid>
        </flux:form>
    </f:section>

    <f:section name="Preview">
    </f:section>

    <f:section name="Main">
        <div class="grid-wrapper-aside-right-column">
            <div class="col-1-2">
                <flux:content.render area="columnLeft"/>
            </div>
            <div class="col-2-2">
                <flux:content.render area="columnRight"/>
            </div>
        </div>
    </f:section>

</div>
