<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

    <f:layout name="StartpageItemWrapper"/>

    <f:section name="Configuration">
        <flux:form id="startpageitem"
                   label="Kachel"
                   description="Kachel für die Startseite (Benötigt Wrapper-Element)">

            <!-- Insert fields, sheets, grid, form section objects etc. here, in this flux:flexform tag -->
            <flux:field.file name="image" allowed="jpg" uploadFolder="uploads/tx_presentation" minItems="0" maxItems="1" size="1" internalType="folder" label="Bild"/>
            <flux:field.input name="headline" required="TRUE" label="Überschrift" />
            <flux:field.text name="teasertext" rows="5" cols="30" required="TRUE" label="Beschreibung" />
            <flux:field.input name="pagelink" label="Link">
                <flux:wizard.link/>
            </flux:field.input>
        </flux:form>
    </f:section>

    <f:section name="Preview">
        <table width="100%">
            <tr>
                <td width="50%">
                    <f:if condition="{image}">
                        <v:media.image src="uploads/tx_presentation/{image}" alt="{headline}" width="100" /></td>
                    </f:if>
                <td width="50%">
                    <f:format.crop maxCharacters="50">{teasertext}</f:format.crop>
                    <f:if condition="{pagelink}">
                        <strong>Link:</strong> {pagelink}
                    </f:if>
                </td>
            </tr>
        </table>
    </f:section>

    <f:section name="Main">
        <article class="home-newsarticle">
            <div class="home-newsarticle-inner">
                <f:if condition="{image}">
                    <v:media.image src="uploads/tx_presentation/{image}" alt="{headline}" />
                </f:if>
                <h2>{headline}</h2>
                <p><f:format.nl2br>{teasertext}</f:format.nl2br></p>
                <f:if condition="{pagelink}">
                    <f:link.page pageUid="{pagelink}" title="{headline}" class="home-button">mehr erfahren</f:link.page>
                </f:if>
            </div>
        </article>
    </f:section>
</div>
